#app {
  width: 100%;
  height: 100%;


  * {
    font-family: 'Roboto', 'FontAwesome', monospace;
  }

  > div {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  button, input {
    border-radius: 5px;
  }
}