.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);


  .todo__name {
    flex-grow: 3;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    white-space: pre-wrap;
    transition: all 0.3s;
    
    > span {
      height: 100%;
      width: 100%;
      overflow-wrap: break-word;
      word-wrap: break-word;      
    }
  }



  .todo__toogle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #8bc2e7;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;

    i {
      font-size: 13px;
    }
  }

  .todo__toogle_can-edit {
    &:hover {
      border-color: #029aff;
    }
  }

  .todo__actions {
    margin-left: auto;
    display: flex;
    justify-content: center;

    > div:not(:last-child) {
      margin-right: 20px;
    }

    .todo__accept-edit {
      color: #89bb90;
      cursor: pointer;
      &:hover {
        color: #12b127;
      }
    }


    .todo__edit {
      color: #414141;
      cursor: pointer;
      &:hover {
        color: #000000;
      }
    }

    .todo__delete {
      color: #d64343;
      cursor: pointer;
      &:hover {
        color: #f51c1c;
      }
    }
  }
}

.todo_active {

  .todo__name {
    > span {
      text-decoration: line-through;
      color: #9b9b9b;
    }
  }

  .todo__toogle {
    background-color: #029aff;
  }
}

