.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;

  &__close {
    position: absolute;
    right: 50px;
    top: 20px;
    color: #c8c7c7;
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: #fff;
    }

    @media screen and (max-width: 670px){
      right: 20px;
      top: 10px;
    }
  }

}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}